.big-image {
    width: 800px;
    height: 530px;
    border: 10px solid black;
    overflow: hidden;
    margin: 0 auto;
}
.big-image img {
    width: 100%;
    height: 100%;
    
}
.small-image {
    text-align: center;
    padding: 30px;
}
.small-image img {
    width: 300px;
    margin: 0 auto;
}